<h1>All Posts by <%= @user.username %></h1>


<% if @user.posts.nil? || @user.posts.blank? || @user.posts.empty? %>
	<h3>You have no posts yet!<h3>
	<%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
	<% else %>
		<% @user.posts.each do |post| %>

	<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= post.title.html_safe %></h3>
        </div>
        <div class="panel-body">
          <p> By <em><%= post.user.username %> <%= image_tag post.user.avatar.thumb %></em></p>
          <p><em>posted on <%= local_time(post.created_at, "%m/%d/%Y at %l:%M%P") %></em></p>
          <br />
          <%= image_tag post.headline_photo.headline %>
          <h5 class="caption"><%= post.photo_caption %></h5>
          <p class="photo-credit"><%= post.photo_credit %></p>
          <br />
          <p class="blog-post"><%= post.blog_entry.html_safe %></p>
        </div>
        <div class="panel-footer">
          <% if current_user.id == post.user.id %>
            <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-warning" %>
            <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
  </div>
  </div>
  <% end %>
<% end %>